.card__vector-delete {
    display: none;
    border: none;
    background: url(../../../images/delete.svg);
    background-color: transparent;
    background-size: 100%;
    cursor: pointer;
    height: 19px;
    width: 18px;
    position: absolute;
    top: 18px;
    right: 15px;
    opacity: 1;
    transition: 0.3s;
}

.card__vector-delete:hover {
    opacity: 0.6;
}