.popup__close {
    position: absolute;
    border: none;
    padding: 0;
    top: -40px;
    right: -40px;
    cursor: pointer;
    background-color: transparent;
    transform: rotate(-45deg);
    outline: none;
}

.popup__close:hover {
    opacity: 0.6;
}

@media screen and (max-width: 760px) {
    .popup__close {
        right: 0;
        top: -40px;
    }
}