.header {
    max-width: 880px;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 40px;
}

@media screen and (max-width: 940px) {
    .header {
        padding-left: 4%;
        padding-right: 4%;
    }
}

@media screen and (max-width: 760px) {
    .header {
        margin-bottom: 38px;
    }
}